@media (max-width: 900px) {

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .menu-icon  {
  display: flex;
 }

.menu-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;  
}

.itens-menu {
  margin: 10px;
}

.menu-list.open {
  display: block;
}
}