* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@media (max-width: 900px) {
 
  .mobile-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
  }

  .main-screen-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-footer-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mobile-header {
    width: 100%;
    position: static;  
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;  
    justify-content: center;  
  }

  .phrase-effect-mobile {
    font-size: 1.2rem;
  }

  .mobile-w-footer {
    width: 100%;
  }

  .networks-mobile{
    width: 100%;
  }

  .nav-mobile {
    display: flex;  
    flex-flow: flex wrap;   
  }

  .carousel-mobile {
    margin-top: 2em;
    width: 100%;
  }

  .mobile-list-property {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }  

  .mobile-section-property {
    display: flex;
    flex-direction: column;
  }

  .mobile-filter {
    display: flex;
    flex-direction: row wrap;
    gap: 5px;    
    width: 85%;
  }

  .mobile-title {
    border: none;
  }

  .mobile-cod-property {
    display: flex;
    flex-flow: column wrap;  
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .copyright-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }

  .description-mobile {
    font-size: 1.2em;
  }

  .list-purchase-mobile {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    width: 100%;   
  }

  .list-rent-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btn-property-home-mobile {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
  }

  .section-home-mobile{
    display: flex;    
    width: 100%;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
  }

  .section-home-mobile .card {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .section-home-mobile .card .card-img {   
    display: flex;
    flex-direction: column; 
    width: 100%;    
  }

  .section-home-mobile .card .card-info {    
    width: 100%; 
  }

  .section-home-mobile .card .card-footer {
    width: 100%;
  }

  .feature-home-mobile { 
    width: 100%;
  }

  .blog-mobile {    
    display: flex;
    flex-flow: column;    
  }

  .blog-mobile  img {
    height: 40rem;
  }

  .logotipo-mobile {
    display: none;
  }

  .textarea-mobile {
    width: 20rem;
  } 

  .details-mobile {
    width: 100%;
  }

  .info-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description-mobile {
    width: 100%;
    margin-bottom: 2rem;
  }

  .carousel-images-mobile {
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
  }

  .mobile-property-details {
    width: 100%;
  }
}
